{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block body %}
<br>
<div>
        <h1>Bienvenue sur MyGarden, votre application de gestion de potager</h1>
        <br>
        <p class="home-paragraph">Retrouvez ici toutes les conseils pour entretenir votre potager</p>
        <p class="home-paragraph">MyGarden est une application permettant de gerer son potager. Vous y trouverez tous les conseils de plantation afin que vos fruits, légumes et aromates poussent de la meilleure manière possible</p>
        <p class="home-paragraph">Pour cela, vous pouvez vous balader dans la catégorie qui vous interesse. Selectionnez une plante et découvrez nos conseils de jardinage. Bon jardinage 🍅</p>
        <div class="text-center"><img src="https://p7.storage.canalblog.com/77/86/337986/102826174.jpg" alt="image de potager"><br><br>
            <a href="/potager"><button type="button" class="btn btn-success">
                Voir le potager
            </button></a>
        <br>       
</div>
    </div>
{% endblock %}


