{% extends 'base.html.twig' %}

{% block title %}Légumes{% endblock %}

{% block body %}
<br>
<div class="text-center">
<h5>Liste des légumes</h5>
</div>
<br>
<div class="d-flex p-2 bd-highlight text-center">
<div class="d-flex-inline flex-row bd-highlight mb-3 text-center">
{% for vegetable in vegetables %}
<div class="card p-2 bd-highlight float-left" style="width:21em; height:30em">
  <img class="card-img-top " src="{{ vegetable.picture }}" alt="Card image cap" style="width:19em; height:15em">
  <div class="card-body">
    <h5 class="card-title">{{ vegetable.name }}</h5>
    <br>
    <a href="vegetable/{{vegetable.id}}/view" class="btn btn-primary">En savoir plus</a>
  </div>
</div>  
{% endfor %}
  
</div>

{% endblock %}