{% extends 'base.html.twig' %}

{% block title %}Ajout au potager{% endblock %}

{% block body %}
    <h1>Ajouter au potager</h1>

    {{ include('garden/_form.html.twig') }}

    <br>
    <a href="{{ path('garden_index') }}"><button class="btn btn-primary">Retour</button></a>
{% endblock %}
