{% extends 'base.html.twig' %}

{% block title %}Ajout au potager{% endblock %}

{% block body %}
    <h1>Ajouter au potager</h1>

    {{ include('garden/_form.html.twig') }}

    <a href="{{ path('garden_index') }}">Retour</a>
{% endblock %}
